<h1>登入會員</h1>
<p>沒有會員嗎>點<%= link_to "這裡", sign_up_user_path %>註冊</p>

<%= form_with(model: @user, url: sign_in_user_path, method: "post", local: true) do |form| %>

<div class="fields">
    <%= form.label :email, "信箱" %>
    <%= form.text_field :email %>
</div>
<div class="fields">
    <%= form.label :password, "密碼" %>
    <%= form.password_field :password %>
</div>

<%= form.submit %>
<% end %>